rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // By default, deny all reads and writes to all documents.
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow a user to get their own user document. This is required
    // for them to be able to query the 'journals' subcollection.
    // Also, allow them to update their own document.
    match /users/{userId} {
      allow get, update: if request.auth.uid == userId;
    }

    // Allow a user to read (list, get) and write (create, update, delete)
    // documents in their own 'journals' subcollection.
    match /users/{userId}/journals/{journalId} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
